*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  background-image: linear-gradient(
      90deg,
      rgba(0, 87, 200, 0.5) 50%,
      transparent 0
    ),
    linear-gradient(rgba(0, 87, 200, 0.5) 50%, transparent 0);
  background-size: 30px 30px;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 8rem);
  /* 3 columns - 8rem wide*/
  grid-template-rows: minmax(9rem, auto) repeat(5, 7rem);
  /*height of rows/boxes - top row 7rem - or expand - auto - allows it to grow
  repeat  - 5 more rows 6 rem high*/
}

/*  */
.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: #3b3a3a;
}

.span-two {
  grid-column: span 2;
  /* AC & = buttons span 2 - twice as wide as the other buttons */
}

.output {
  /* top row - take up entire top row*/
  background-color: rgba(212 208 249);
  grid-column: 1 / -1;
  border: 20px solid #2e2d2d;
  border-radius: 15px 15px 0 0;
  box-shadow: 8px 10px #888888;
}

button {
  background-color: #2e2d2d;
  color: #f8b568;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 8px 10px #888888;
}
/* TIME - 6.15 NEEDS ADDITIONAL STYLING - 7.00*/
